    body{
        font-family: 'lato';
        font-size: 14px;
        line-height: 2;
        transition: 0.3s ease;
    }

    .navbar{
        border-radius: 0;
        border: 0
       
    }

    .dropdown-menu{
        border-radius: 0;
        box-shadow: 0;

    }

    .navbar-top,
    .navbar-main{
        margin-bottom: 0;
    }

    .navbar-top{
        background: #333;
        min-height: auto;
        padding: 8px 10px;
    }

    .navbar-top li > a{
        padding: 0px 8px;
        color: #fff
    }

    .navbar-top li:hover > a{
        background: transparent;
    }

    .navbar-top .dropdown .dropdown-menu{
        box-shadow: none;
    }

    .navbar-top .dropdown .dropdown-menu li > a{
        color: #222;
        padding: 5px 10px;
    }

    .navbar-top .dropdown.open a,
    .navbar-top .dropdown.open a{
        background:transparent;
    }

    .navbar-main{
        background: #3d703d;
        min-height: 93px;
        max-height: 93px;
        color: #fff;
    }

    .navbar-main li > a{
        color: #FFFF00;
        padding: 35px 15px;
        font-size: 18px;
        background: transparent !important;
    }

    .navbar-main li {
        background: transparent;
    }

    .navbar-main li:hover > a,
    .navbar-main li:focus > a,
    .navbar-main li:active > a{
        background-color: transparent;
    }

    .navbar-main li.active > a,
    .navbar-main li:hover > a{
        color: #fff;
    }

    .navbar-main .dropdown.open .dropdown-toggle{
        color: #fff;
    }

    .navbar-main .dropdown-menu{
        top: 80%
    }

    .navbar-main .dropdown li > a{
        padding: 10px 15px;
        color: #222;
        font-size: 14px;
    }
    /* section */

    .section {
        position: relative;
    }

    .section .section-header{

    }

    .section .section-header .section-title{
        font-size: 35px;
        padding-bottom: 30px;
        margin-bottom: 30px;
        position: relative;
        font-weight: 300;
    }

    .section .section-header .section-title:after{
        content: '';
        position: absolute;
        background: url('../images/divide-side.png');
        height: 10px;
        left: 0;
        right:  0;
        bottom: 0;
        background-position:  center;
    }

    .section .section-features{
        max-width: 550px;
        margin: 0 auto;
    }

    .section-features .features-title{
        font-size: 18px;
        font-weight: bold;
    }

    .section-content .img-features{
        margin-top: 35px;
        margin-bottom: 40px
    }


    .section-box {
        padding: 80px 0;
        min-height: 50vh;
        max-width:  390px;
        margin: 0 auto;
    }

    .section-box .section-icon{
        float: left;
        margin-right: 30px;
    }

    .section-box .section-box-title{
        margin-top: 0;
        margin-bottom: 14px;
        font-size: 24px;
        font-weight: 400;
    }

    .section-box .section-box-title > small{
        line-height: 2
    }

    .section-box .section-box-content{
        margin-left: 80px;
        color: #707070;
    }

    /* /section */

    .hero-slider .hero-slider-items{
        position: relative;
    }

    .hero-slider .hero-slider-items .hero-slider-content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%, -50%);
        -o-transform: translate(-50%,-50%);
        -moz-transform: translate(-50%,-50%);
        text-align: center;
        color: #fff;
    }


    .hero-slider .slider-desc {
        font-size: 30px;
        margin: 0;
    }

    .hero-slider .slider-title {
        font-size: 45px;
        position: relative;
        padding-bottom: 28px;
        margin-bottom: 28px;
    }

    .hero-slider .slider-title::after{
        content: '';
        height: 1px;
        background: #fff;
        position: absolute;
        width:  190px;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* BTN */

    .btn {
        border-radius: 0;
    }

    .btn-green{
        background: #2b4f2b;
        padding: 10px 15px;
        color: #fff;
    }

    .btn-green:hover{
        border: 1px solid #222;
        color: #000 !important;
    }


    /* Carousel  */

    .hero-slider .owl-nav{

    }

    .hero-slider .owl-nav .owl-prev,
    .hero-slider .owl-nav .owl-next{
        position: absolute;
        background: transparent;
        top: 70%;
        border: 1px solid rgba(255,255,255,.6);
        border-radius: 99em;
        color:  rgba(255,255,255,.6);
        width:  50px;
        height: 50px;
        text-align:  center;
        line-height: 50px;
    }

    .hero-slider .owl-nav .owl-prev:hover,
    .hero-slider .owl-nav .owl-next:hover{
        border: 1px solid rgba(255,255,255,1);
        color:  rgba(255,255,255,1);    
    }

    .hero-slider .owl-prev{
        left: 15%;
    }

    .hero-slider .owl-next{
        right:15%;
    }


    /* helper */
    .img-inline{
        display: inline-block;
    }

    .no-gap{
        padding: 0;
        margin: 0;
    }

    .col-border{
        border: 1px solid #ddd;
    }

    .p-t-b-9{
        padding: 90px 0;
    }

    .p-t-b-6{
      padding: 60px 0px;
    }

    .p-l-r-6{
        padding: 0px 60px
    }

    .b-l-r{
        border-left: 1px solid rgba(238, 238, 238, 0.1);
        border-right: 1px solid rgba(238, 238, 238, 0.1);
    }

    .hr{
        height: 1px;
        background: #eee;
        margin: 20px 0;
    }

    /* /helper */

    /* background */
    .bg-cyan{ 
        background: #c3f0da;
    }

    .bg-cyan.col-border{
        border-color: #c3f0da !important;
    }

    .col-border:nth-child(odd){
        border-left: 0;
    }
    .col-border:nth-child(even){
        border-right: 0;
    }

    .text-yellow{
        color: #ffcc00;
    }

    /* /background */

    .absolute-box{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        border: 2px solid #222;
        width: 250px;
        height: 250px;
        background: #fff;
        padding: 20px;
    }

    .absolute-box .absolute-box-content{
        padding: 65px 8px;
        border: 1px solid #222;
        height: 100%;
        text-transform:  uppercase;
    }

    .absolute-box .absolute-box-content small{
       font-size: calc(30px - 80%);
       margin: 10px 0;
    }

    .absolute-box .absolute-box-content h3{
       font-size: 30px;
       margin: 0px 0;
       font-weight: 700;
    }


/* footer */
.footer {
    background: #283034;
    color: #eee;
    padding: 56px;
}

.footer-widget{
}

.footer-widget .footer-widget-title{
    margin: 10px 0px;
    margin-bottom:  14px;
    font-size: 18px;
}

.footer-widget .footer-widget-title.inline{
    display: inline-block;
    margin: 0;
    margin-right: 10px;
}

.footer-menu.inline{
    display: inline-block;
}

.footer-menu ul{
    padding: 0;
    list-style: none;
}

.footer-menu ul li{
    margin-top: 2px;
    margin-bottom: 14px;
}

.footer-menu ul li > a {
    font-weight: 300;
    color: #eee;
    padding: 7px 0;
}

.footer-menu.inline li{
    display: inline-block;
}

.footer-menu.inline li > a{
    color: #eee;
    line-height: 50px;
    border-radius: 99em;
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    margin: 0 5px;
    background: #424d53;
    font-size: 22px;
    padding: 0;
}

.footer-menu.inline li:hover > a{
    background: transparent;
    color: #1e6598;
}

.copyright{
    background: #283034;
    border-top: 1px solid rgba(238, 238, 238, 0.1);
    padding: 10px 0;
}

.copyright p {
    color: #eee;
    margin-bottom: 28px;
}

/* /footer */

/* off canvas */
.off-canvas {
    position: fixed;
    top: 0;
    max-height: 100vh;
    width: 250px;
    z-index: 999;
    right: 0;
    background: #283034;
    transform: translateX(100%);
    transition: 0.3s ease;
}

.off-canvas.open{
    transform: translateX(0%);
}

.off-canvas-header{
    padding: 10px 0px 10px 28px;
    background: #1d2021;
    position: relative;
    min-height: 50px
}

.off-canvas-header .close-off-canvas{
    position: absolute;
    background: transparent;
    border: 0;
    color: #999;
    padding: 7px 0px;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: #191818;
}
.off-canvas-body{
    padding: 28px;
    min-height: 100vh;
    overflow-Y: auto;
}

.off-canvas ul{
    padding: 0;
}

.off-canvas ul li {
    margin: 7px 0 0px;
}

.off-canvas ul li > a{
    padding: 5px;
    color: #999;
    text-decoration: none
}

.off-canvas ul li:hover > a,
.off-canvas ul li.active > a{
    color: #fff;
    background: transparent;
}

.off-canvas li .dropdown-menu{
    background: transparent;
    box-shadow: none;
    border: none;
    padding-left: 14px;
}

.inner{
    transition: 0.3s ease;
}

.inner.off-canvas-active{
    transform: translateX(-250px);
    transition: 0.3s ease;
}

.canvas-trigger{
    color: #eee !important;
    padding: 7px 11px !important;
    display: inline-block;
    margin: 25px 15px;
    background: rgba(0,0,0,0) !important;
    transition: 0.3s ease;

}

.canvas-trigger:hover{
    background: rgba(0,0,0,.2) !important;
}

/* /off canvas */

/* responsive */
@media only screen and (max-width: 992px){
    .navbar-main li > a{
        font-size: 14px;
        padding: 0px 10px;
    }

    .hero-slider .owl-stage-outer{
        width: 100%;
    }
    .navbar-main .collapse{
        display: none !important;
    }
   
   .navbar-main .canvas-trigger{
       margin-top: 30px;
   }
}

@media only screen and (max-width:768px){
    
    .navbar-main{
        min-height: 64px !important;
        max-height: 90px !important;
    }

    .navbar-header{
       display:inline-block;
       float: left;
    }

    .canvas-trigger{
        position: absolute !important;
        margin: 0 !important;
        z-index: 99;
        right: 20px;
        top: 10px;
    }

    .pagination li > a{
        padding: 8px !important;
    }

    .page-index{
        padding: 5px 8px !important;
    }

    .navbar-brand{
        width: 75%;
        float: left;
        margin: 0;
        padding: 3px 10px
    }

    .navbar-main .pull-right{
        float: none;
    }

    .navbar-brand img{
        width: 100%;
    }

    .off-canvas.open{
        width: 100%;
    }

    .navbar-top{
        padding: 0 20px
    }
}

@media only screen and (max-width:400px){
    .navbar-brand{
        padding: 10px 10px;
    }

    .canvas-trigger{
        top: 10px
    }

    .navbar-top{
        padding: 0px;
    }
}
/* /responsive */

.page-caption{
    padding: 60px 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.page-caption:after{
    content: '';
    height: 12px;
    background-image:url('../images/divide-side.png');
    position: absolute;
    left: 0;
    right: 0;
    bottom: -8px;
    background-position: center;
}


.page-caption .page-title{
    text-transform: uppercase;
}

.page-caption .page-desc{
    font-size: 18px 
}


/* /page caption */

/* forms */

.form-control{
    border-radius: 0;
    height:  42px;
    box-shadow: none !important;
    outline: 0;
}

.form-control:focus{
    border-color: #707070;
}

/* /forms */

/* Gallery */

.gallery ul{
    padding: 0;
    margin: 0;
    list-style: none;
    float: right;
}

.gallery ul li{
    display: inline-block;
    margin-right: 10px
}

.gallery-header{
    margin-bottom: 40px
}

.gallery-body {
}

.gallery-view > span, .gallery-filter > span{
    margin-right: 10px
}

.gallery-body .gallery-item {
    width: 50%;
    padding: 10px;
    float: left;
}

.gallery-item img{
    width: 100%;
}

/* Gallery */

/* Posts */
    .post{
        position: relative;
    }

    .post:after{
        content: '';
        display: block;
        height: 13px;
        margin: 42px 0;
        background-image: url('../images/divide-side.png');
        background-position: center;
    }

    .post-header .post-title{
        margin-bottom: 28px;
    }

    .post-header .post-title > a{
        color: #333;
    }

    .post-header .post-title:hover > a{
        color: #1e6598;
        text-decoration: none;
    }

    .thumbnail{
        width: 100%;
    }

    .pagination{
    }

    .pagination li > a{
        padding: 10px 15px;
        color: #333;
        
        border-radius: 0 !important;
    }

    .pagination li:hover > a,
    .pagination li.active > a,
    .pagination li.active:hover > a{
        background: rgba(61, 112, 61, 1);
        color: #fff;
    }

    .page-index{
        padding: 10px;
        background: #222;
        color: #fff;
        margin: 20px 0px;
    }


/* /Posts */

/* Paenel */
.panel{
    border-radius: 0;
}
/* /Panel */